body {
    background-color: rgba(208, 208, 212, 0.26);
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: #ffffff;
    padding: 2px;
    border-bottom: 10px;

}

ul {
    list-style-type: none;
    margin-top: -30px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* li {
    float: left;
} */

li a {
    text-decoration: none;
    color: rgb(126, 124, 124);
}


li {
   padding: 15px;
   display: block;
   text-decoration: none;
   color: grey;
   font-size: 18px;
}

li a:hover ,select:hover{
    color: rgb(77, 75, 75);
    transition: 0.3s;
}

select,
::picker(select){
    appearance: base-select;
}

select {
    border: none;
    background: #ffffff;
    padding: 0;
    margin: 0;
}

select::picker-icon{
    content: 'Ë…';
    font-weight: bolder;
}

.header #yum{
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: bold;
    margin-left: 100px;
}

#yum span{
    color: rgb(241, 26, 26);
}

.header button{
    background-color: rgb(211, 22, 22);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 100px;
    margin-left: 100px;
    width: 70%;
}

.header button:hover{
    background-color:rgba(211, 22, 22, 0.815);
    transition: 0.3s;
}

img {
    height: 450px;
    align-content: end;
    margin: auto;
    margin-left: 58%;
    margin-top: -80px;
}

button{
    background-color: rgb(211, 22, 22);
    color: white; 
    border: none;
    padding: 12px;
    border-radius: 100px;
}

