h1 {
    color: rgb(94, 158, 20);
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #e71c1cc7;
    font-size: 45px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: #362f2fc7;
    font-size: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4{
    color: #391faac7;
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5{
    color: #e210aec7;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6{
    color: #20131dc7;
    font-size: 25px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




body{
    background: #0be981;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: rgba(236, 58, 4, 0.726);
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;

}

th,td {
    border: 2px solid red;
    padding: 10px;
}